.menu
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    background: #ededed;
}


.avatar
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar h4
{
    margin-left: 15px;
    font-weight: 600;
    line-height: 1.2em;
}

.avatar h4 span
{
    font-size: 0.8em;
    color: #555;
}

.avatarusuario
{
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.usuario
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.opcoes
{
    display: flex;
}

.opcoes li
{
    cursor: pointer;
    display: flex;
    list-style: none;
    color: #7e868a;
    font-size: 1.5em;
}


.corpo_conversa
{
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}


.mensagem_usuario
{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.mensagem_usuario p
{
    position: relative;
    right: 0;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
    text-align: right;
    font-size: 0.9em;
}

.mensagem_usuario p::before
{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #dcf8c6 0%, #dcf8c6 50%, transparent 50%,transparent);
}

.mensagem_usuario p span
{
    padding-left: 6px;
    margin-top: 5px;
    font-size: 0.65em;
    opacity: 0.5;
}


.outrem
{
    justify-content: flex-start;
}

.outrem p
{
    background: #fff;
    text-align: left;
}

.outrem p::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%,transparent);
}

.proprio
{
    justify-content: flex-end;
}

.proprio ion-icon
{
    color: #6ed1f4;
}


.input_conversa
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 15px;
    background: #f0f0f0;
}

.input_conversa ion-icon
{
    cursor: pointer;
    font-size: 1.8em;
    color: #7e868a;
}

.input_conversa input
{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 1em;
}