<header class="menu">
  @if(isSelected()) {
  <div class="avatar">
    <div class="avatarusuario">
      <img
        src="https://media.istockphoto.com/id/1300972574/photo/millennial-male-team-leader-organize-virtual-workshop-with-employees-online.jpg?s=2048x2048&w=is&k=20&c=tU5X1sJJ9sIcqthiw5RO388RhKNllo0ZF82LPitfXgU="
        class="usuario"
      />
    </div>
    
    @if (selectedConversation.conversation[0].type === 'single') {
    <h4>
      {{ selectedConversation.users[0].fullName }} <br /><span>Online</span>
    </h4>
    } @else if (selectedConversation.conversation[0].type === 'group') {
      <h4>
        {{ selectedConversation.groupDetails[0].title }} <br />
      </h4>
    }

  </div>
  <ul class="opcoes">
    <li><i class="bx bx-dots-vertical-rounded"></i></li>
  </ul>
  }
</header>

<section class="corpo_conversa" #scrollableDiv (scroll)="scrollChatDivOnTop($event)">
  <div (messageTrigger)="scrollChatDiv()" [isSelected]="isSelected()" app-chat-body>
  
</div>
</section>

@if (isSelected()) {
  <form (messageTrigger)="scrollChatDiv()" app-chat-input-box>

  </form>

  }
