<!-- component -->
<div class="bg-[#FAF1E6] h-screen w-screen">
    <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
        <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-[#FDFAF6] sm:mx-0" style="height: 500px">


            @if (!isRegister) {

            <div class="hidden md:block md:w-1/2 rounded-r-lg"
                style="background: url('https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80'); background-size: cover; background-position: center center;">
            </div>

            }

            <div class="flex flex-col w-full md:w-1/2 p-4">
                <div class="flex flex-col flex-1 justify-center mb-8">
                    <h1 class="text-4xl text-center font-thin">

                        @if (isRegister) {
                        Sign Up
                        } @else {
                        Sign In
                        }

                    </h1>

                    <div class="w-full mt-4">
                        <form class="form-horizontal w-3/4 mx-auto" [formGroup]="authForm" (ngSubmit)="onSubmit()">


                            @if (isRegister) {

                            <div class="flex flex-col mt-4">
                                <input formControlName="fullname" autocomplete="off" type="text"
                                    class="flex-grow h-8 px-2 border rounded border-grey-400" name="email" value=""
                                    placeholder="Full Name">
                            </div>


                            }


                            <div class="flex flex-col mt-4">
                                <input formControlName="email" autocomplete="off" id="email" type="email"
                                    class="flex-grow h-8 px-2 border rounded border-grey-400" name="email" value=""
                                    placeholder="Email">
                            </div>

                            <div class="flex flex-col mt-4">
                                <input id="password" type="password" formControlName="password" autocomplete="off"
                                    class="flex-grow h-8 px-2 rounded border border-grey-400" name="password" required
                                    placeholder="Password">
                            </div>

                            @if (isRegister) {

                            <div class="flex flex-col mt-4">
                                <input id="re-password" type="password" formControlName="repassword"
                                    autocomplete="off" class="flex-grow h-8 px-2 rounded border border-grey-400"
                                    name="re-password" required placeholder="Re Enter Password">
                            </div>

                            }


                            <div class="floating-input">
                                <span class="text-red-400 err-msg">{{ errMsg() }}</span>
                            </div>


                            <div class="flex flex-col mt-8">
                                <button type="submit"
                                    class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded">
                                    @if (isRegister) { Create Account } @else { Log In }
                                </button>
                            </div>

                        </form>
                        <div class="text-center mt-4">
                            @if (isRegister) {

                            <a routerLink="/login" class="no-underline hover:underline text-blue-dark text-xs">
                                Already have an account?
                            </a>

                            } @else {

                            <a routerLink="/register" class="no-underline hover:underline text-blue-dark text-xs">
                                Create Account?
                            </a>

                            }

                        </div>
                    </div>
                </div>
            </div>


            @if (isRegister) {

            <div class="hidden md:block md:w-1/2 rounded-r-lg"
                style="background: url('https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80'); background-size: cover; background-position: center center;">
            </div>

            }



        </div>
    </div>
</div>