<ng-template cdkPortal>
  <div class="bg-white text-white p-6 rounded-2xl shadow-lg">
    <div class="flex flex-col w-full">
      <div class="mb-3">
        <h3 class="text-lg text-[#333333] font-semibold">Search Users</h3>
      </div>

      <!-- Search Input Container -->
      <div class="relative">
        <div
          class="flex items-center bg-white rounded-lg overflow-hidden shadow-md"
        >
          <i class="bx bx-search text-gray-500 text-xl px-3"></i>

          <input
            [(ngModel)]="searchKeyword"
            (input)="searchWithKeyword()"
            type="text"
            placeholder="Search users..."
            class="w-full py-3 px-2 text-gray-800 focus:outline-none"
          />

          <button
            (click)="onClearInput()"
            class="bg-gray-100 hover:bg-gray-200 p-3 text-gray-600 focus:outline-none transition duration-150"
          >
            <i class="bx bx-x"></i>
          </button>
        </div>

        <div
          class="absolute left-0 right-0 mt-1 bg-white rounded-lg shadow-lg overflow-hidden z-10"
        >
          @for (user of usersDatas; track user._id) {

          <app-autocomplete-user-boxes
            (onClick)="onUserClicked($event)"
            [user]="user"
          ></app-autocomplete-user-boxes>
          }
        </div>
      </div>

      <!-- Send Button -->
      <div class="mt-4">
        @if (!isUserSelected) {
        <button
          class="bg-white text-blue-500 hover:bg-gray-100 font-medium py-2 px-6 rounded-lg shadow transition duration-150 flex items-center justify-center w-full"
        >
          <i class="bx bx-search-alt-2 mr-1"></i>
          Search...
        </button>
        } @else {
        <app-open-chat-button></app-open-chat-button>
        }
      </div>
    </div>
  </div>
</ng-template>
