<div class="avatarusuario">
  <img
  src="https://static.vecteezy.com/system/resources/previews/036/280/651/large_2x/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-illustration-vector.jpg"  
  class="usuario"
  />
</div>
<ul class="opcoes items-center justify-center gap-3">
  <li>
    <i class="bx bx-search-alt-2" (click)="onToggleSearchModal()"></i>
  </li>

  <li>
    <i (click)="onToggleThreeDot()" class="bx bx-dots-vertical-rounded"></i>

    
    <div [ngClass]="{ hidden: !showThreeDot() }" class="relative">
    
      <app-threedot-dropdown></app-threedot-dropdown>
      
    </div>
  </li>
  <app-search-user-modal
    [forGroup]="false"
    (onCloseModal)="onToggleSearchModal()"
    [showModal]="showSearchModal()"
  ></app-search-user-modal>
</ul>
